<div class="flex justify-center items-center">
    <div class="bg-white p-10 rounded-lg shadow-md">
        <h1 class="headline text-xl font-bold"></h1>
        <div class="mt-4 mb-10">
            <p class="status_headline text-gray-600"></p>
            <div class="bg-gray-400 w-64 h-3 rounded-lg mt-2 overflow-hidden">
                <div class="bg-purple-400 w-3/4 h-full rounded-lg shadow-md"></div>
            </div>
        </div>
        <h3 class="detail_headline text-md uppercase pb-2"></h3>
        <h2 class="detail_description tracking-wide break-word">
        </h2>
    </div>
</div>
