{% extends 'timely/base.html' %}
{% block content %}

{% include 'timely/header.html' %}
{% include 'timely/messages.html' %}

<div class="flex flex-col container mx-auto p-8">
	<div class="text-4xl text-purple-500">
		Einstellungen
	</div>
	<div class="text-xl p-6">
		<div class="flex content-center px-4 py-2">
			<div class="pr-4">
				Anzeige in Sekunden
			</div>
			<input type="checkbox" class="mt-2 border-gray-300 border-1 text-purple-500 focus:border-gray-300 focus:ring-white"></input>
		</div>
		<div class="flex content-center px-4 py-2">
			<div class="pr-4">
				Stunden pro Woche
			</div>
		</div>
</div>


{% endblock %}
