{% load static %}

<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ page_title }}</title>
		<meta name="description" content="timely :: track your working hours">
		<meta name="author" content="@mikeunge">

		<link rel="icon" href="{% static 'images/favicon.ico' %}">
		<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
		<link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
	</head>
	<body>
		{% block content %}
		{% endblock %}
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
