{% extends 'timely/base.html' %}

{% block content %}

	{% if user.is_authenticated %}
		<div class="flex items-center justify-between mt-2 mx-4">
			<div class="text-2xl">
				Hello, <span class="text-purple-500">{{ user.get_username }}</span>
			</div>
			<div class="text-gray-700">
				{% if user.is_superuser %}
					<a href="/admin">Admin</a> |
				{% endif %}
				<a href="{% url 'logout' %}">Logout</a>
			</div>
		</div>
	{% else %}
		<div class="flex flex-col justify-center items-center mt-28">
			<div class="text-3xl mb-2">
				You are not logged in.
			</div>
			<div class="text-xl text-gray-700">
				Click <a class="text-purple-500" href="{% url 'login' %}?next={{request.path}}">here</a> to login.
			</div>
		</div>
	{% endif %}

{% endblock %}