{% extends 'timely/base.html' %}

{% block content %}

{% include 'timely/header.html' %}
<div class="flex items-center justify-end p-4 px-4">
    {% if timer_state %}
        <div class="text-2xl text-black px-4" id="current_time">
            00:00
        </div>
        <a href="{% url 'timer_stop' %}" class="bg-purple-500 hover:bg-purple-700 text-white text-center py-2 px-8 rounded">
            Stop
        </a>
    {% else %}
        <div class="dropdown inline-block relative">
            <button class="bg-purple-500 text-white font-semibold py-2 px-6 rounded inline-flex items-center">
                <span class="mr-1">Start</span>
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                <li class="">
                    {% url 'timer_start' 'work' as start_work %}
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-8 block whitespace-no-wrap" href="{{ start_work }}">Arbeit</a>
                </li>
                <li class="">
                    {% url 'timer_start' 'break' as start_break %}
                    <a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-8 block whitespace-no-wrap" href="{{ start_break }}">Pause</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>

<script>
    let current_time = document.getElementById("current_time");
    const timer = () => {
        get_time()
        .then((data) => {
            console.log(data.message);
            current_time.innerHTML = data.message;
        });
    };
    if (current_time) {
        timer();
        setInterval(timer, 15000);
    } 
</script>

{% endblock %}

